<footer>
    <p>  &copy; Maria, Julia, Kristine 2024 </p>
    <p></p>
    
    
  <div id="flex">
    <div id="contact"> 
         <ul>
             <li> <a  target="blank"> <i class="fa-brands fa-instagram"></i></a></li> 
             <li> <a  target="blank"><i class="fa-brands fa-tiktok"></i></a></li>
             <li> <a target="blank"> <i class="fa-brands fa-youtube"></i></a></li>
             <li> <a  target="blank"><i class="fa-brands fa-facebook"></i></a></li>
         </ul>
     </div>
  </div>
  
  </footer>
     
  
  