<div class="container">

    <h1> About Us</h1>
    <h2> Tail Wagging Focus is an accomplished pet photography team that brings a unique combination of professionalism,
        enthusiasm and love for animals to every project! </h2>

    <div class="container">

        <h3> Meet the team:</h3>
        <img class="img1" src="./assets/picproj/aboutUs1.jpg">
        <p> We are a team of passionate animal photographers dedicated to preserving the unique beauty and personality
            of your beloved pets.</p>
        <h3>Who we are:</h3>
        <p>At Tail Wagging Focus, we understand that pets are more than just animals; they are cherished members of the
            family. With our expertise in animal photography, we aim to create timeless images that celebrate the
            special bond between pets and their humans.</p>
        <img class="img2" src="./assets/picproj/aboutUs2.jpg">
        <h3> Our Mission:</h3>
        <p>Our mission is simple: to create captivating photographs that evoke joy, love, and laughter. Whether it's a
            playful pup, a curious kitten, or a majestic horse, we strive to capture the essence of each animal in every
            shot.</p>
        <h3> What We Offer: </h3>
        <p>From intimate indoor sessions to adventurous outdoor shoots, Tail Wagging Focus offers a range of photography
            services tailored to your preferences. Whether you're looking to adorn your walls with stunning portraits or
            showcase your furry friends on your business website, we've got you covered.</p>
        <img class="img1" src="./assets/picproj/aboutUs3.jpg">
        <h3>Why Choose Us:</h3>
        <p>What sets us apart is our genuine love for animals and our commitment to excellence. With years of experience
            and a keen eye for detail, we ensure that every photograph we take tells a story and captures the true
            essence of your pet.</p>
        <h3>How We Work:</h3>
        <p>Booking a session with Tail Wagging Focus is easy! Simply reach out to us via email or phone to schedule a
            planning session. During this consultation, we'll discuss your vision, preferences, and any specific ideas
            you may have. From there, we'll work together to create a customized photography experience that exceeds
            your expectations. Then, three weeks after our photoshooting appointment, you will receive pictures that
            capture your most magical moments with your beloved pets.</p>
        <img class="img2" src="./assets/picproj/aboutUs4.jpg">
        <h3>Get Inspired:</h3>
        <p>Take a peek at our portfolio to see examples of our work and get inspired for your own session. Whether
            you're looking for whimsical portraits, action shots, or candid moments, our portfolio showcases the diverse
            range of styles and settings we offer.</p>
        <h3> Contact Us</h3>
        <p>Ready to capture memories that will last a lifetime? Reach out to us to book your session!</p>


    </div>

</div>

<br>
<app-awards></app-awards>

<div id="flex">
    <div id="titles">
        <h4>Contact Us</h4>
        <h5>Let's keep in touch!</h5>
    </div>
</div>