<div class="container">
    <h1>Corporate Clients</h1>
    <p>
        As seasoned animal photographers, we've partnered with esteemed corporate clients like animal protection agencies, 
        zoos, shelters, and pet shops. Our work captures the essence of animals, from majestic zoo residents to shelter 
        pets finding homes. Through our photos, we advocate for animal welfare, conservation, and responsible pet ownership.
        Collaborating with these organizations enriches our craft and allows us to contribute meaningfully to their 
        missions.
    </p>
    <div class="logos row row-cols-lg-3 row-cols-md-2 row-cols-sm1 row-cols-xs1">
        <img src="./assets/img/apa_agency.png" alt="client image">
        <img src="./assets/img/clinic.png" alt="client image">
        <img src="./assets/img/dog_food.jpg" alt="client image">

        <img src="./assets/img/feeds.png" alt="client image">
        <img src="./assets/img/grooming.png" alt="client image">
        <img src="./assets/img/pet shop.png" alt="client image">

        <img src="./assets/img/shelter.png" alt="client image">
        <img src="./assets/img/treats.png" alt="client image">
        <img src="./assets/img/zoo.png" alt="client image">
    </div>
</div>