
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/picproj/tiger-india.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Wildlife from far away</h5>
          <p>Bring the world home to your home</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/picproj/hamster-3712820_1280.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Photoshoot for your companion at home</h5>
          <p>Create timeless memories of your animal friend</p>
        </div>
      </div> 
      <div class="carousel-item">
        <img src="./assets/picproj/girl+dog.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>You and your pets</h5>
          <p>Your furry friend is a family member</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/picproj/piggy.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Photoshoots for Your animal-related Business</h5>
          <p>Professional pictures for your website and business-related needs</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
