/* Some global styling has been added in styles.css */
/* button{
    height: 30px;
    width:30px;
    object-fit: contain;
} */

/* .navbar-text{
    width: 25%;
    display: flex;
    gap: 5px;
}
.nt{
    width: fit-content;
} */

a{
margin: 0 5px;
}