/* Some global styling has been added in styles.css */

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.contact-details {
    background-color: rgb(96, 147, 172);
    padding: 40px;
    margin-bottom: 40px;
    width: 530px;
    height: fit-content;
}

table {
    margin-top: 30px;
}

iframe {
    width: 450px;
}

.contact-form {
    background-color: rgb(96, 147, 172);
    width: auto;
    padding: 40px;
    margin-bottom: 40px;

}

input {
    width: 450px;
    padding: 10px;
}

select {
    width: 450px;
    padding: 10px;
}

textarea{
    width: 450px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    iframe {
        width: 300px;
    }

    input {
        width: 300px;
        padding: 10px;
    }

    select {
        width: 300px;
        padding: 10px;
    }

    textarea {
        width: 300px;
    }
}