<div class="styleport">
    <br>
    <h3>Photoshoot for Your Companion at Home</h3>
    <p>It doesn't matter how big or small, every pet can be photogenic. If you want to remember your furry friend forever
      then book a photoshoot with us.</p>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col"> <img src="./assets/picproj/british-shorthair-7880908_1280.jpg" alt="" width="250px"> sleeping
          beauty</div>
        <div class="col"> <img src="./assets/picproj/aquarium-5650174_1280.jpg" alt="" width="250px">Pearly</div>
        <div class="col"> <img src="./assets/picproj/bulldog-1047518_1280.jpg" alt="" width="250px">Oli</div>
        <div class="col"> <img src="./assets/picproj/parrots-pet.jpg" alt="" width="250px">Tristan & Isolde</div>
      </div>
      <div class="row">
        <div class="col-8"> <img src="./assets/picproj/kittypumpkin.jpg" alt="" width="750px">Mary</div>
        <div class="col-4"><img src="./assets/picproj/bernese-mountain-dog-7928156_1280.jpg" alt="" width="332x">Lorenz
        </div>
      </div>
      <div class="row">
        <div class="col"> <img src="./assets/picproj/hamster-3712820_1280.jpg" alt="" width="350px">Tiny Tim</div>
        <div class="col"> <img src="./assets/picproj/rabbits-5136938_1280.jpg" alt="" width="350px">Wilson</div>
        <div class="col"> <img src="./assets/picproj/doggo2.jpg" alt="" width="350px">Sir Atticus </div>
      </div>
      <br>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <h3>You and Your Pet </h3>
    <p>Some pets become as close as our own family members. If you want a picture of yourself, your children or your whole
      family including your furry family member we can make that happen for you. </p>
    <br>
    <div class="container text-center">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-md-8"><img src="./assets/picproj/boy+ parrot.jpg" alt="" width="640px"> <br> Peter & Paul</div>
        <div class="col-6 col-md-4"> <img src="./assets/picproj/horse-girl.jpg" alt="" width="350px"> Lucy & Walpurga
        </div>
      </div>
  
      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-6 col-md-4"><img src="./assets/picproj/girl+dog.jpg" alt="" width="330px,"> Michelle & Waldi</div>
        <div class="col-6 col-md-4"><img src="./assets/picproj/dog+ b&w.jpg" alt="" width="330pxs"> Susen & Cornelius
        </div>
        <div class="col-6 col-md-4"><img src="./assets/picproj/eveningcat+.jpg" alt="" width="330px">Tina & Popcorn</div>
      </div>
  
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-7"><img src="./assets/picproj/man+dog.jpg" alt="" width="580px"> <br> Franz & Karli</div>
        <div class="col-5"><img src="./assets/picproj/couple+dog.jpg" alt="" width="445px"> A happy Family</div>
      </div>
      <br>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <h3>Photoshoots for animal related Business </h3>
    <p>Let us take professional pictures for whatever work-related needs you have. Advertisement, your website or for a
      catalogue, we can present every animal from its best side.</p>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col"> <img src="./assets/picproj/cow + babycow.jpg" alt="" width="250px"> sleeping beauty</div>
        <div class="col"> <img src="./assets/picproj/goose.jpg" alt="" width="250px">Pearly</div>
        <div class="col"> <img src="./assets/picproj/chicks farm.jpg" alt="" width="250px">Oli</div>
        <div class="col"> <img src="./assets/picproj/piggy.jpg" alt="" width="250px">Tristan & Isolde</div>
      </div>
      <div class="row">
        <div class="col-7"> <img src="./assets/picproj/sheep.jpg" alt="" width="625px"> <br> <br></div>
        <div class="col-5"><img src="./assets/picproj/goat.jpg" alt="" width="455x">Lorenz</div>
      </div>
      <div class="row">
        <div class="col"> <img src="./assets/picproj/donkey.jpg" alt="" width="335px">Tiny Tim</div>
        <div class="col"> <img src="./assets/picproj/horse pretty.jpg" alt="" width="335px">Wilson</div>
        <div class="col"> <img src="./assets/picproj/duck.jpg" alt="" width="365px">Sir Atticus </div>
      </div>
      <br>
    </div>
    <hr>
    <br>
    <br>
    <h3>Wildlife from far away</h3>
    <p>Bring the world home. We travel far and wide to bring you the best shots home, so you can have a pice of the world
      right with you. </p>
    <br>
    <div class="container text-center">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-md-8"><img src="./assets/picproj/capybara-3979875_1280.jpg" alt="" width="750px"> Capibara -
          Südamerica </div>
        <div class="col-6 col-md-4"> <img src="./assets/picproj/lion-southafrica.jpg" alt="" width="340px">Lion -
          Southafrica</div>
      </div>
  
      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-6 col-md-4"><img src="./assets/picproj/tiger-india.jpg" alt="" width="350px,">Tiger - India</div>
        <div class="col-6 col-md-4"><img src="./assets/picproj/mexico-turtel.jpg" alt="" width="310pxs"> <br>Turtel-
          Mexico </div>
        <div class="col-6 col-md-4"><img src="./assets/picproj/arctic-wolf-alaska.jpg" alt="" width="340px">Arcticwolf -
          Alaska</div>
      </div>
  
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col"> <img src="./assets/picproj/crimson-rosella-5175911_1280.jpg" alt="" width="340px"> Parrot -
          Amazonas</div>
        <div class="col"> <img src="./assets/picproj/monkey-nepal.jpg" alt="" width="340px">Monkey - Nepal</div>
        <div class="col"> <img src="./assets/picproj/otter.jpg" alt="" width="340px">Otter - Canada </div>
      </div>
      <br>
    </div>
    <hr>
  
  </div>