<div class="styleport">
  <br>
  <h3>Photoshoot for Your Companion at Home</h3>
  <p>It doesn't matter how big or small, every pet can be photogenic. If you want to remember your furry friend forever
    then book a photoshoot with us.</p>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col"> 
        <img src="./assets/picproj/british-shorthair-7880908_1280.jpg" alt="">
        <div class="overlay">Sleeping beauty</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/aquarium-5650174_1280.jpg" alt="">
        <div class="overlay">Pearly</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/bulldog-1047518_1280.jpg" alt="">
        <div class="overlay">Oli</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/parrots-pet.jpg" alt="">
        <div class="overlay">Tristan & Isolde</div>
      </div>
    </div>
    <div class="row">
      <div class="col-8"> 
        <img src="./assets/picproj/kittypumpkin.jpg" alt="">
        <div class="overlay">Mary</div>
      </div>
      <div class="col-4">
        <img src="./assets/picproj/bernese-mountain-dog-7928156_1280.jpg" alt="">
        <div class="overlay">Lorenz</div>
      </div>
    </div>
    <div class="row">
      <div class="col"> 
        <img src="./assets/picproj/hamster-3712820_1280.jpg" alt="">
        <div class="overlay">Tiny Tim</div>
      </div>
      <div class="col">
         <img src="./assets/picproj/rabbits-5136938_1280.jpg" alt="">
        <div class="overlay">Wilson</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/doggo2.jpg" alt="">
        <div class="overlay">Sir Atticus</div>
      </div>
    </div>
    <br>
  </div>
  <hr>
  <br>
  <br>
  <br>
  <h3>You and Your Pet </h3>
  <p>Some pets become as close as our own family members. If you want a picture of yourself, your children or your whole
    family including your furry family member we can make that happen for you. </p>
  <br>
  <div class="container text-center">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-md-8">
        <img src="./assets/picproj/boy+ parrot.jpg" alt="">
        <div class="overlay">Peter & Paul</div>
      </div>
      <div class="col-6 col-md-4"> 
        <img src="./assets/picproj/horse-girl.jpg" alt="">
        <div class="overlay">Lucy & Walpurga</div>
      </div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/girl+dog.jpg" alt="">
        <div class="overlay">Michelle & Waldi</div>
      </div>
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/dog+ b&w.jpg" alt="">
        <div class="overlay">Susen & Cornelius</div>
      </div>
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/eveningcat+.jpg" alt="">
        <div class="overlay">Tina & Popcorn</div>
      </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-7">
        <img src="./assets/picproj/man+dog.jpg" alt="">
        <div class="overlay">Franz & Karli</div>
      </div>
      <div class="col-5">
        <img src="./assets/picproj/couple+dog.jpg" alt="">
        <div class="overlay">A happy Family</div>
      </div>
    </div>
    <br>
  </div>
  <hr>
  <br>
  <br>
  <br>
  <h3>Photoshoots for animal related Business </h3>
  <p>Let us take professional pictures for whatever work-related needs you have. Advertisement, your website or for a
    catalogue, we can present every animal from its best side.</p>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
         <img src="./assets/picproj/cow + babycow.jpg" alt="">
        <div class="overlay">sleeping beauty</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/goose.jpg" alt="">
        <div class="overlay">Pearly</div>
      </div>
      <div class="col">
         <img src="./assets/picproj/chicks farm.jpg" alt="">
        <div class="overlay">Oli</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/piggy.jpg" alt="" >
        <div class="overlay">Tristan & Isolde</div>
      </div>
    </div>
    <div class="row">
      <div class="col-7"> 
        <img src="./assets/picproj/sheep.jpg" alt="">
        <div class="overlay">Lorenz</div>
      </div>
      <div class="col-5">
        <img src="./assets/picproj/goat.jpg" alt="">
        <div class="overlay">Lorenz</div>
      </div>
    </div>
    <div class="row">
      <div class="col"> 
        <img src="./assets/picproj/donkey.jpg" alt="" >
        <div class="overlay">Tiny Tim</div>
      </div>
      <div class="col">
         <img src="./assets/picproj/horse pretty.jpg" alt="">
        <div class="overlay">Wilson</div>
      </div>
      <div class="col">
         <img src="./assets/picproj/duck.jpg" alt="">
        <div class="overlay">Sir Atticus</div>
      </div>
    </div>
    <br>
  </div>
  <hr>
  <br>
  <br>
  <h3>Wildlife from far away</h3>
  <p>Bring the world home. We travel far and wide to bring you the best shots home, so you can have a pice of the world
    right with you. </p>
  <br>
  <div class="container text-center">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-md-8">
        <img src="./assets/picproj/capybara-3979875_1280.jpg" alt="">
        <div class="overlay">Capibara - Südamerica</div>
      </div>
      <div class="col-6 col-md-4">
         <img src="./assets/picproj/lion-southafrica.jpg" alt="">
        <div class="overlay">Lion - Southafrica</div>
      </div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/tiger-india.jpg" alt="">
        <div class="overlay">Tiger - India</div>
      </div>
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/mexico-turtel.jpg" alt=""> <br>
        <div class="overlay">Turtle - Mexico</div>
      </div>
      <div class="col-6 col-md-4">
        <img src="./assets/picproj/arctic-wolf-alaska.jpg" alt="">
        <div class="overlay">Arctic wolf - Alaska</div>
      </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col">
         <img src="./assets/picproj/crimson-rosella-5175911_1280.jpg" alt="">
        <div class="overlay">Parrot - Amazonas</div>
      </div>
      <div class="col">
         <img src="./assets/picproj/monkey-nepal.jpg" alt="">
        <div class="overlay">Monkey - Nepal</div>
      </div>
      <div class="col"> 
        <img src="./assets/picproj/otter.jpg" alt="">
        <div class="overlay">Otter - Canada</div>
      </div>
    </div>
    <br>
  </div>
  <hr>

</div>