/* Some global styling has been added in styles.css */
.container{
    margin: auto;
    margin-bottom: 50px;
}

.card{
    padding: 5px;
    padding-top: 30px;
    margin-top: 70px;
    transition: all 0.3s;
    box-shadow: 0 10px 10px rgba(0,0,0,.5); /*opacity .8*/
}

.card:hover{
    transform: scale(1.15);
}

.card-img-top{
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0,0,0,.8); /*opacity .8*/
}

.customer{
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

.card{
margin-left: 50px;
}
}