<div class="body">
    <h3> Our work has been awarded: </h3>
    <div id="image-track" (mousedown)="onMouseDown($event)" (touchstart)="onMouseDown($event)" (mousemove)="onMouseMove($event)"  (touchmove)="onMouseMove($event)" (mouseup)="onMouseUp()"  (touchend)="onMouseUp()" [attr.data-mouse-down-at]="mouseDownPosition">
        <img src="./assets/picproj/award1.jpg" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award2.jpg" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award3.jpg" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award4.jpg" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award5.png" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award6.png" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award7.png" alt="" class="image" draggable="false">
        <img src="./assets/picproj/award8.png" alt="" class="image" draggable="false">
    </div>
</div>

