/* Some global styling has been added in styles.css */

.body{
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: rgb(255,193,7);
    margin: 0;
    overflow:hidden;    
}
h3{
    color: black;
}
#image-track > .image{
    width: 7vw;
    height:7vw;
    object-fit: cover;
    object-position: center;
}

#image-track{
   display: flex; 
   gap: 3vw;
   position: absolute;
   left: 50%;
   transform: translate(0% -50%);
}