/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-decoration: underline rgb(255,193,7);
    padding: 50px;
}

body{
    background-color: rgb(238,238,235);
}
